<!DOCTYPE html>
<html>
  <head>
    <title>聊天室</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <div class="chooseName">
      <form class="inputName" action="">
        <input type="text" name="name" class="getName" placeholder="请输入名字..." autocomplete="off" />
        <button class="submit">提交</button>
      </form>
      <span></span>
    </div>
    <div class="chatBox">
      <header>
        <h1>基于express4+socket.io的聊天室</h1>
        <p><span id="userName"></span><a>退出</a></p>
      </header>

      <p class="onlinePeople"></p>

      <div class="chatWindow"></div>

      <div class="bottomForm">
        <form class="chatForm" action="">
              <input type="text" name="message" class="message" autocomplete="off" />
              <button class="send">发送</button>
        </form>
        <span>请输入内容!</span>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/jquery-3.1.1.min.js"></script>
    <script src="javascripts/client.js"></script>
  </body>
</html>
